<h2>Teniamoci in contatto!</h2>
<h3>Se hai bisogno di contattarmi puoi farlo tramite i seguenti canali:</h3>
<div class="social">
    <a target="_blank" [href]="'tel:' + number">
        <span class="material-symbols-rounded"> phone </span>
        <strong>Mobile</strong>
    </a>
    <a target="_blank" [href]="whatsapp">
        <span class="material-symbols-rounded"> chat </span>
        <strong>Whatsapp</strong>
    </a>
    <a target="_blank" [href]="telegram">
        <span class="material-symbols-rounded telegram"> send </span>
        <strong>Telegram</strong>
    </a>
    <a target="_blank" href="mailto:{{ email }}">
        <span class="material-symbols-rounded"> forward_to_inbox </span>
        <strong>Email</strong>
    </a>
</div>
<div class="license">
    <p><strong>&copy; 2022 Gianfilippo Balestriero </strong></p>
    <p>
        Il codice sorgente di
        <a href="https://balestrierodev.github.io">
            https://balestrierodev.github.io
        </a>
        è distribuito sotto licenza <strong>MIT</strong> ed è disponibile
        <a target="_blank" [href]="repoUrl">seguente indirizzo</a>
    </p>
</div>
